body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
}
  .navbar {
    background-color: transparent;
    height: 75px;
    position: fixed;
    width: 100%;
  }

  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
  }
  
.about, .help, .community {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
  }
  


  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .about, .help, .community {
    position: relative;
    display: inline-block;
  }

  #dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #dropdown-content a{
    width: 150px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
  }
  
  #dropdown-content:hover {background-color: #ddd;}
  .community:hover #dropdown-content {display: block;}
  .about:hover #dropdown-content {display: block;}
  .help:hover #dropdown-content {display: block;}
  .community:hover .dropbtn {background-color: purple;}
  .about:hover .dropbtn {background-color: purple;}
  .help:hover .dropbtn {background-color: purple;}

  #Kastfox {
    margin-top: -30px;
    margin-left: -3050px;
  }

  .buttonTop {
    margin-top: 0px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;

  }
  .vh1 {
    height: 120vh;
    background-image:url(./Assets/gradient-violet-bg.jpg);
    text-align: center;
    color: white;
  }

  .vh1 h1 {
      font-size: 45px;
  }
  .vh1 h2 {
      padding-left: 600px;
      padding-right: 600px;
      font-size: 18px;
      font-style:normal;
  }
  .vh1 #laptop{
    height: 400px;
    Width: 700px;
    margin: 75px;
    padding-top:100px;
  }

  .button {
    background-color: #fe9000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    cursor: pointer;
  }
  .vh2 {
      height:100vh;
      background-color:white;
  }

  #view2 {
    margin: 80px;
    font-size: 20px;
    color:black;
    font-weight:bold;
    text-align: center;
  }

  .container {
    flex: 1;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 20px 15px;
    padding-left:250px;
    padding-right: 250px;
  }

  .container li {
    flex-grow: 1;
    flex-basis: auto;
    list-style-type:none;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  #quote {
    text-align:center;
    color: gray;
    font-weight: bold;
    font-size: 20px;
    font-style:italic;
    margin-top: 100px;
  }
  #ad {
    padding-top: 60px;
    padding-left: 300px;
  }